<h1><%= @section.name %></h1>

<h2>Story #1</h2>
<%= form_for([@section, @section.stories.build]) do |f| %>
  <p>
    <%= f.label :story_url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :story_description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Story #2</h2>
<%= form_for([@section, @section.stories.build]) do |f| %>
  <p>
    <%= f.label :story_url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :story_description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Story #3</h2>
<%= form_for([@section, @section.stories.build]) do |f| %>
  <p>
    <%= f.label :story_url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :story_description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', emails_path(@email) %>
