<h1>Stories for <%= @section.title %></h1>

<h2>Stories</h2>
<%= render @section.stories %>

<h2>Add a story:</h2>
<%= form_for([@section, @section.stories.build]) do |f| %>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
