<h1>Edit your Hubba Weekly email</h1>

<%= form_for(@email) do |f| %>

  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:
      </h2>
      <ul>
        <% @email.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :industries %><br>
    <%= f.text_area :industries %>
  </p>

  <p>
    <%= f.label :common %><br>
    <%= f.text_area :common %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>

  <%= link_to 'Back', emails_path %>
