<h1>Hubba Weekly</h1>
<p><%= link_to 'New', new_email_path %></p>

<table>
  <% @emails.each do |email| %>
    <tr>
      <td><%= email.name %></td>
      <td><%= link_to 'Show', email_path(email) %></td>
      <td><%= link_to 'Edit', edit_email_path(email) %></td>
      <td><%= link_to 'Destroy', email_path(email),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this Hubba Weekly?' }  %> </td>
    </tr>
  <% end %>
</table>
