<h1>New Hubba Weekly</h1>

<%= form_for :email, url: emails_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :industries %><br>
    <%= f.text_area :industries %>
  </p>

  <p>
    <%= f.label :common %><br>
    <%= f.text_area :common %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
