<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>

<h2>Industries</h2>

<p><%= link_to 'Kids, Baby and Toys', section_path %></p>
<p><%= link_to 'Food + Beverage', section_path %></p>
<p><%= link_to 'Sports + Outdoors', section_path %></p>

<h2>Common Hubba sections</h2>

<p><%= link_to 'What are we reading', section_path %></p>
<p><%= link_to 'New Features', section_path %></p>
<p><%= link_to 'From the Blog', section_path %></p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
